.big {
    width: 100%;
}
.div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.one {
    width: 100%;
}
.one .h {
    font-size: 50px;
}



.boxes {
    margin-top: 30px;
    width: 100%;
}
.boxes .card {
    width: 24%;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: 0px 33px 69px 0px #0000001A;
}
.card {
    scroll-snap-align: start;
  list-style: none;
  background: #fff;
  width: 100%;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border: 1px solid #BB9B75;
  
  }
   .card .img {
    position: relative;
    width: 100%;
}
 .card .img img {
    width: 100%;
}
 .card .img .icons {
    position: absolute;
    right: 10px;
    top: 20px;
}
 .card .img .icons svg {
    padding: 5px;
    background-color: #fff;
    margin-top: 5px;
}


.but {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.b {
    padding: 18px;
    box-shadow: 0px 10px 20px 0px #00000029;
    background-color: #fff;
    border-radius: 50%;
    margin: 20px;
    cursor: pointer;
}
.b svg {
    color: #BB9B75;
}




@media screen and (max-width: 90rem) {

    .boxes .card {
        width: 32%;
    }
}
@media screen and (max-width: 55rem) {
    .boxes .card {
        width: 49%;
    }
}
@media screen and (max-width: 40rem) {
    .boxes .card {
        width: 100%;
    }
}


@media screen and (max-width: 80rem) {
    .div {
        display: block;
    }
    .one {
        width: 100%;
    }
    .h1 {
        margin-top: 20px;
    }
}
@media screen and (max-width: 60rem) {
    .one .h {
        font-size: 35px;
    }
}
@media screen and (max-width: 50rem) {
    .one .h {
        font-size: 35px;
    }
    .box {
        display: block;
    }
    .box div {
        width: 100%;
    }
}

.two h1 {
    font-size: 50px;
    font-weight: 600;
}
.two p {
    font-size: 17px;
    padding-top: 20px;
}
.two p span {
    padding-left: 10px;
}
.two p svg {
    display: inline;
}
.two hr {
    margin-top: 20px;
    border: 1px solid #DEDEDE
}

@media screen and (max-width: 60rem) {
    .two h1 {
        font-size: 30px;
    }
    .two p {
        font-size: 15px;
    }
}