<div class="big" style="margin-bottom: 70px;">
    <div class="div">
        <div class="one">
            <p style="margin-top: 10px;margin-bottom: 30px;"><span><a href="#">Главная</a></span> > оральные препараты</p>
            <h1 style="font-weight: 600;margin-top: 20px;" class="h">оральные препараты</h1>
            <div class="boxes">
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="assets/images/home-in-four/Mask group (1).png" alt="">
                        <div class="icons">
                            <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                              </svg>
                              <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                              </svg>                                    
                        </div>
                    </div>
                    <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                    <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                    <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                    <div class="button" style="width: 100%;text-align: center;">
                        <button style="width: 85%;padding: 12px; background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                        <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="but" style="margin-top: 30px;">
                <button style="padding: 15px 30px 15px 30px;background-color: #BB9B75;color: #fff;box-shadow: 0px 10px 22px 0px #A8865E4D;">Открыть ещё</button>
            </div>
        </div>
    </div>
    <div class="two" style="background-color: #F2F2F2;width: 80%;margin: 0 auto;padding-left: 30px;padding-right: 30px;margin-top: 70px;">
        <h1>Оральные стероиды: что это?</h1>
        <p>Анаболические стероиды уже давно стали неотъемлемой частью профессионального спорта. С помощью этих препаратов атлеты быстрее прогрессируют и способны показывать феноменальные результаты. С развитием интернета к числу потребителей ААС могут присоединиться и любители культуризма.</p>
        <p>Бодибилдинг пользуется большой популярностью. Однако накачать мышцы довольно сложно, так как организм сопротивляется этому процессу. В результате начинающие билдеры сталкиваются с ситуацией, в которой при затрате большого количества сил, прогресс оказывается незначительным. Чтобы исправить положение дел, они могут заказать таблетированные стероиды.</p>
        <p> Эти препараты основаны на дериватах мужского гормона. При их использовании в организме резко увеличивается концентрация свободного тестостерона, что и позволяет быстро набирать массу и увеличивать силу. Не все атлеты готовы ждать длительное время, пока их мышцы окрепнут с помощью натурального тренинга. Чтобы ускорить этот процесс, им достаточно купить оральные стероиды. Однако предварительно стоит разобраться с двумя вопросами: </p>
        <p><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 7px;background-color: #fff;border-radius: 50%;">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg>           <span>как правильно подобрать ААС;</span></p>
        <p><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 7px;background-color: #fff;border-radius: 50%;">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg> <span>какие стероиды в таблетках являются лучшими.</span></p>
        <hr>

        <h1>Эффекты от использования таблетированных стероидов</h1>
        <p>Каждый начинающий билдер хочет заказать оральные стероиды, которые окажутся максимально эффективными. Однако при этом не стоит забывать, что это крайне мощные медпрепараты, способные нанести вред организму. Таким образом, сначала им предстоит понять, какие эффекты могут быть получены с помощью ААС в таблетках. Среди них стоит отметить несколько наиболее важных:</p>
        <p><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 7px;background-color: #fff;border-radius: 50%;">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg> <span>возможность набирать качественную сухую массу;</span></p>
        <p><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 7px;background-color: #fff;border-radius: 50%;">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg> <span>быстро увеличивается сила;</span></p>
        <p><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 7px;background-color: #fff;border-radius: 50%;">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg> <span>при грамотном приеме в организме не задерживается жидкость;</span></p>
        <p><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 7px;background-color: #fff;border-radius: 50%;">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg> <span>ускоряются процессы липолиза;</span></p>
        <p><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 7px;background-color: #fff;border-radius: 50%;">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
          </svg> <span>улучшается рельефность тела.</span></p>
        <p>Это лишь малая часть положительных эффектов, которые могут быть получены, если атлет решит купить таблетированные стероиды. Если грамотно составить курс, то можно избежать побочных эффектов, присущих всем медпрепаратам, включая и ААС.</p>
        <hr>

        <h1>Лучшие оральные стероиды</h1>
        <p>Среди всех присутствующих на рынке ААС в таблетках, не все стоит использовать любителям культуризма. Некоторые из них отличаются большой силой воздействия на организм и могут легко стать причиной развития побочек. Кроме этого такие препараты являются узкоспециализированными, например, Халотестин.</p>
        <p>Таким образом, лучшие стероиды в таблетках: Станозолол, Туринабол, Метандиенон, Оксандролон.</p>
        <p>Начать краткий обзор стоит со Станозолола. Сразу следует сказать, что этот стероид не предназначен для набора массы. В результате использовать его на первом курсе нецелесообразно. В основе станазы лежит одноименный дериват дигидротестостерона. В результате стероид не склонен к ароматизации и обладает сильными жиросжигающими свойствами. Еще одним достоинством этого ААС является его способность быстро увеличивать силу. Рекомендуемая суточная дозировка находится в диапазоне 20-50 мг.</p>
        <p>Это самый известный стероид. О нем ходит масса мифов и легенд. Чтобы в последние годы не говорили о метане, он продолжает оставаться одним из самых эффективных ААС. Именно благодаря Метандиенону многие атлеты познакомились с миром серьезной фармакологии. Этот препарат вполне подходит для первого курса. С его помощью можно набрать несколько кило массы и существенно увеличить силовые параметры. Суточная дозировка препарата составляет 10-60 мг.</p>
        <p style="padding-bottom: 20px;">Туринабол в отличии от метана не склонен к ароматизации. Благодаря этому набираемая с его помощью масса окажется более качественной, но придется принести в жертву ее количество. Суточная дозировка турика находится в диапазоне 20-60 мг. Оксандролон – самый безопасный и легкий стероид на рынке. При этом он также может быть весьма эффективным. Как и Станозолол, лучше использовать его для сушки и увеличения силы. Рекомендуемая дневная дозировка препарата составляет 30-80 мг.</p>
    </div>
</div>


<app-home-in-nine></app-home-in-nine>