<div class="div" style="width: 100%;background-color: #BB9B75;">
    <div class="div-in" style="width: 80%;margin: 0 auto;">
        <div class="vid" style="width: 100%;">
            <div class="one">
                <div class="text">
                    <h1>Подпишись на</h1>
                    <div class="text-in">
                        <h1>нашу рассылку</h1>
                        <p>Подписывайся на рассылку и получай на каждый товар -5%</p>
                    </div>
                </div>
                <div class="inp">
                    <input type="email" placeholder="E-mail">
                    <button>Подписаться</button>
                </div>
                <img src="assets/images/home-in-nine/Группа 1 1 (1).png" alt="">
            </div>
        </div>
    </div>
</div>