<div class="big-div" style="background-color: #F8F8F8;">
    <div class="div" style="margin: 0 auto;width: 80%;">
        <div class="text">
            <h1 style="font-size: 50px;font-weight: 700;">Отзывы</h1>
            <div class="button">
                <a href="#">
                    <button style="background: linear-gradient(130.83deg, #CFAE87 9.11%, #A48159 70.56%);color: #fff;padding: 10px 30px 10px 30px;">
                        <p>Все отзывы</p>
                </button>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="div" style="margin: 0 auto;width: 80%;padding-bottom: 100px;">
        <div class="wrapper">
            <div class="i">
                <i id="left"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                  </svg>
                  </i>
            <i id="right"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
              </svg>
              </i>
            </div>
            <ul class="carousel">
              <li class="card">
                <div class="card-img">
                    <div class="img">
                        <img src="assets/images/home-in-five/01f618c47d95e5c934e268da9abdb2c2 1.png" alt="" style="border-radius: 50%;width: 70px;height: 70px;">
                        <p style="padding-left: 10px;font-size: 23px;font-weight: 500;">Кирилл</p>
                    </div>
                    <p>Заказывал 8 мая, сегодня забрал с почты посылку 20 мая. Всё в наличии, всё целое. Спасибо за работу.</p>
                    <p>Александр .С. 40 лет.</p>
                </div>
                <div class="icon">
                    <a href="#">Читать еще</a>
                    <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" style="padding: 5px;background-color: #BB9B75;color: #fff;border-radius: 50%;">
                        <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                      </svg>                      
                </div>
              </li>
              <li class="card">
                <div class="card-img">
                    <div class="img">
                        <img src="assets/images/home-in-five/01f618c47d95e5c934e268da9abdb2c2 1.png" alt="" style="border-radius: 50%;width: 70px;height: 70px;">
                        <p style="padding-left: 10px;font-size: 23px;font-weight: 500;">Кирилл</p>
                    </div>
                    <p>Заказывал 8 мая, сегодня забрал с почты посылку 20 мая. Всё в наличии, всё целое. Спасибо за работу.</p>
                    <p>Александр .С. 40 лет.</p>
                    <p>Александр .С. 40 лет.</p>
                    <p>Александр .С. 40 лет.</p>
                    <p>Александр .С. 40 лет.</p>
                    <p>Александр .С. 40 лет.</p>
                    <p>Александр .С. 40 лет.</p>
                </div>
                <div class="icon">
                    <a href="#">Читать еще</a>
                    <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" style="padding: 5px;background-color: #BB9B75;color: #fff;border-radius: 50%;">
                        <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                      </svg>                      
                </div>
              </li>
              <li class="card">
                <div class="card-img">
                    <div class="img">
                        <img src="assets/images/home-in-five/01f618c47d95e5c934e268da9abdb2c2 1.png" alt="" style="border-radius: 50%;width: 70px;height: 70px;">
                        <p style="padding-left: 10px;font-size: 23px;font-weight: 500;">Кирилл</p>
                    </div>
                    <p>Заказывал 8 мая, сегодня забрал с почты посылку 20 мая. Всё в наличии, всё целое. Спасибо за работу.</p>
                    <p>Александр .С. 40 лет.</p>
                </div>
                <div class="icon">
                    <a href="#">Читать еще</a>
                    <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" style="padding: 5px;background-color: #BB9B75;color: #fff;border-radius: 50%;">
                        <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                      </svg>                      
                </div>
              </li>
              <li class="card">
                <div class="card-img">
                    <div class="img">
                        <img src="assets/images/home-in-five/01f618c47d95e5c934e268da9abdb2c2 1.png" alt="" style="border-radius: 50%;width: 70px;height: 70px;">
                        <p style="padding-left: 10px;font-size: 23px;font-weight: 500;">Кирилл</p>
                    </div>
                    <p>Заказывал 8 мая, сегодня забрал с почты посылку 20 мая. Всё в наличии, всё целое. Спасибо за работу.</p>
                    <p>Александр .С. 40 лет.</p>
                </div>
                <div class="icon">
                    <a href="#">Читать еще</a>
                    <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" style="padding: 5px;background-color: #BB9B75;color: #fff;border-radius: 50%;">
                        <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                      </svg>                      
                </div>
              </li>
              <li class="card">
                <div class="card-img">
                    <div class="img">
                        <img src="assets/images/home-in-five/01f618c47d95e5c934e268da9abdb2c2 1.png" alt="" style="border-radius: 50%;width: 70px;height: 70px;">
                        <p style="padding-left: 10px;font-size: 23px;font-weight: 500;">Кирилл</p>
                    </div>
                    <p>Заказывал 8 мая, сегодня забрал с почты посылку 20 мая. Всё в наличии, всё целое. Спасибо за работу.</p>
                    <p>Александр .С. 40 лет.</p>
                </div>
                <div class="icon">
                    <a href="#">Читать еще</a>
                    <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" style="padding: 5px;background-color: #BB9B75;color: #fff;border-radius: 50%;">
                        <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                      </svg>                      
                </div>
              </li>
              <li class="card">
                <div class="card-img">
                    <div class="img">
                        <img src="assets/images/home-in-five/01f618c47d95e5c934e268da9abdb2c2 1.png" alt="" style="border-radius: 50%;width: 70px;height: 70px;">
                        <p style="padding-left: 10px;font-size: 23px;font-weight: 500;">Кирилл</p>
                    </div>
                    <p>Заказывал 8 мая, сегодня забрал с почты посылку 20 мая. Всё в наличии, всё целое. Спасибо за работу.</p>
                    <p>Александр .С. 40 лет.</p>
                </div>
                <div class="icon">
                    <a href="#">Читать еще</a>
                    <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" style="padding: 5px;background-color: #BB9B75;color: #fff;border-radius: 50%;">
                        <path fill-rule="evenodd" d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z" clip-rule="evenodd"/>
                      </svg>                      
                </div>
              </li>
            </ul>
          </div>
        </div>
</div>
