<div class="big" style="margin-bottom: 70px;">
    <div class="div">
        <div class="one">
            <p style="margin-top: 10px;margin-bottom: 30px;"><span><a href="#">Главная</a></span> > Новости</p>
            <h1 style="font-weight: 700;margin-top: 20px;" class="h">НОВОСТИ</h1>
            <div class="boxes">
                <div *ngFor="let card of cards" class="card">
                    <div class="img">
                      <img [src]="'https://localhost:7245' + card.cardPhotoPath" alt="Null">
                      <p>Без рубрики</p>
                    </div>
                    <h1 style="width: 100%;font-size: 18px;font-weight: 600;padding: 10px;">{{ card.title }}</h1>
                    <div class="one-p">
                      <p>
                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                        </svg>
                        {{ card.date }}
                      </p>
                      <p>
                        Автор: <img [src]="card.user.photoUrl" alt="" style="margin-left: 5px;">
                        <span style="padding-left: 5px;">{{ card.user.name }}</span>
                      </p>
                    </div>
                    <p style="padding: 10px;border-top: 1px solid black;width: 100%;font-size: 14px;padding-top: 15px;padding-bottom: 15px;">
                      {{ card.description }}
                    </p>
                    <div class="card-bottom" style="padding: 10px;width: 100%;border-top: 1px solid black;">
                      <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 3px;background-color: #F7F7F7;margin-bottom: 10px;">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.556 8.5h8m-8 3.5H12m7.111-7H4.89a.896.896 0 0 0-.629.256.868.868 0 0 0-.26.619v9.25c0 .232.094.455.26.619A.896.896 0 0 0 4.89 16H9l3 4 3-4h4.111a.896.896 0 0 0 .629-.256.868.868 0 0 0 .26-.619v-9.25a.868.868 0 0 0-.26-.619.896.896 0 0 0-.63-.256Z"/>
                      </svg>
                      <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" style="padding: 3px;background-color: #F7F7F7;color: #BB9B75;margin-left: 10px;margin-bottom: 10px;">
                        <path fill-rule="evenodd" d="M5 6a3 3 0 1 1 4 2.83V9a4 4 0 0 0 4 4h.17a3.001 3.001 0 1 1 0 2H13a5.978 5.978 0 0 1-4-1.528v1.699a3.001 3.001 0 1 1-2 0V8.829A3.001 3.001 0 0 1 5 6Z" clip-rule="evenodd"/>
                      </svg>
                      <a href="#"><button style="width: 100%;padding: 10px;border: 1px solid #BB9B75;color: black;">Читать</button></a>
                    </div>
                  </div>                  
            </div>
            <div class="but">
                <div class="b" (click)="previousPage()"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                  </svg>
                  </div>
                  <div class="b" (click)="nextPage()"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                  </svg>
                  </div>
            </div>
        </div>
        <div class="two">
            <h1 class="h1">Продукты</h1>
            <div class="dors">
                <div class="dor">
                    <img src="assets/images/novosti-in-one/image 50.png" alt="">
                    <div class="d">
                        <p style="font-size: 14px;font-weight: 400;">Gonadotropin
                            1000iu, 1 флакон - Olymp Labs</p>
                        <p style="color: #BB9B75;font-size: 14px;font-weight: 900;">704 ₽</p>
                    </div>
                </div>
                <div class="dor" style="border-top: 1px solid black;padding-top: 10px;padding-bottom: 10px;">
                    <img src="assets/images/novosti-in-one/image 50.png" alt="">
                    <div class="d">
                        <p style="font-size: 14px;font-weight: 400;">Gonadotropin
                            1000iu, 1 флакон - Olymp Labs</p>
                        <p style="color: #BB9B75;font-size: 14px;font-weight: 900;">704 ₽</p>
                    </div>
                </div>
                <div class="dor" style="border-top: 1px solid black;padding-top: 10px;padding-bottom: 10px;">
                    <img src="assets/images/novosti-in-one/image 50.png" alt="">
                    <div class="d">
                        <p style="font-size: 14px;font-weight: 400;">Gonadotropin
                            1000iu, 1 флакон - Olymp Labs</p>
                        <p style="color: #BB9B75;font-size: 14px;font-weight: 900;">704 ₽</p>
                    </div>
                </div>
                <div class="dor" style="border-top: 1px solid black;padding-top: 10px;">
                    <img src="assets/images/novosti-in-one/image 50.png" alt="">
                    <div class="d">
                        <p style="font-size: 14px;font-weight: 400;">Gonadotropin
                            1000iu, 1 флакон - Olymp Labs</p>
                        <p style="color: #BB9B75;font-size: 14px;font-weight: 900;">704 ₽</p>
                    </div>
                </div>
            </div>
            <h1 style="margin-top: 20px;font-size: 20px;font-weight: 600;margin-bottom: 10px;">Категории</h1>
            <div class="tex">
                <p>"Сан Фармасьютикалс Индастриз Лтд", Индия</p>
                <p>Balkan Pharmaceuticals</p>
                <p>Baries Pharm</p>
                <p>Bayer</p>
                <p>Body Pharm</p>
                <p>British Dispensary</p>
                <p>British Dragon</p>
                <p>Chang Pharmaceuticals</p>
                <p>Cygnus</p>
                <p>EGIS</p>
                <p>EPF</p>
                <p>ERGO</p>
                <p>Golden Dragon</p>
                <p>Golden Pills</p>
                <p>Hangzhou Gaofeng</p>
                <p>Indian Herbal Pills</p>
                <p>Jera Labs</p>
                <p>Lyka Labs</p>
                <p>Lyka Pharmaceuticals</p>
                <p>Magnus</p>
                <p>Neo Labs</p>
                <p>Olymp Labs</p>
                <p>Pharmacom Labs</p>
                <p>Pharmalabs</p>
                <p>Radjay</p>
                <p>SP Laboratories</p>
                <p>Tesla Pharmacy</p>
                <p>Ultra Pharm</p>
                <p>Uncategorized</p>
                <p>Uncategorized</p>
                <p>Vermodje</p>
                <p>Watson</p>
                <p>Zhengzhou Pharmaceutical</p>
                <p>Гормон роста</p>
                <p>Готовые курсы</p>
                <p>Инъекционные препараты</p>
                <p>Оральные препараты</p>
                <p>Препараты ПКТ</p>
                <p>Сармы / Sarms</p>
            </div>
        </div>
    </div>
</div>