<app-navbar></app-navbar>

<div class="boxes">
    <div class="box">
        <h1>1</h1>
        <p>Корзина</p>
    </div>
    <div class="box">
        <h1>2</h1>
        <p>Адрес доставки</p>
    </div>
    <div class="box">
        <h1 style="background-color: #F9F9F9;color: black;">3</h1>
        <p>Заказ готов</p>
    </div>
</div>

<div class="texts" style="border: 1px solid black;padding: 10px;width: 80%;margin: 0 auto;text-align: center;margin-top: 40px;">
    <p style="font-weight: 700;">Внимание! Реквизиты приходят на ваш емайл моментально, если не пришли, проверьте спам папку!</p>
    <p>Для оплаты криптовалютой, запросите кошелек . По всем вопросам напишите мне на емайл rumassa13&#64;gmail.com или в телеграм &#64;Rumassa , а так же в чат на сайте.</p>
</div>

<h1 style="font-size: 45px;font-weight: 700;text-align: center;margin-top: 30px;color: #BB9B75;">Спасибо!</h1>
<h1 style="font-size: 45px;font-weight: 700;text-align: center;margin-bottom: 30px;">Ваш заказ был принят</h1>

<div class="div">
    <p>Номер заказа: <span style="font-weight: 700;">15255</span></p>
    <p>Дата: <span style="font-weight: 700;">25.06.2022</span></p>
    <p>Итого: <span style="font-weight: 700;">1 440₽</span></p>
</div>

<div class="tables" style="border: 1px solid black;margin-bottom: 80px;">
    <h1 style="padding: 10px;font-size: 25px;font-weight: 600;">Информация о заказе</h1>
    <div class="one">
        <p style="font-size: 20px;font-weight: 600;">товар</p>
        <p style="font-size: 20px;font-weight: 600;">итого</p>
    </div>
    <hr>
    <div class="two">
        <p>Testosterone Propionate 100mg/ml, 10ml  × 1</p>
        <p>880₽</p>
    </div>
    <hr>
    <div class="three">
        <p>Подытог</p>
        <p style="color: #BB9B75;">880₽</p>
    </div>
    <hr>
    <div class="four">
        <p>Доставка</p>
        <p>Доставка почтой из РФ: <span style="color: #BB9B75;">960₽</span></p>
    </div>
    <hr>
    <div class="five">
        <p style="font-size: 20px;font-weight: 600;">Итого</p>
        <p style="color: #BB9B75;font-size: 20px;font-weight: 600;">1 440 ₽</p>
    </div>
    <div class="six" style="background-color: #F8F8F8;margin-top: 10px;">
        <p>Оплата:</p>
        <p style="color: #BB9B75;">Bitcoin</p>
    </div>
</div>

<app-footer></app-footer>