<app-navbar></app-navbar>

<div class="big-div">
    <div class="div">
        <p style="margin-top: 10px;"><span>Главная ></span> Обмен и возрат</p>
        <h1 style="font-size: 50px;font-weight: 700;margin-top: 10px;">ОБМЕН И ВОЗВРАТ</h1>
    </div>
    <div class="vid">
        <div class="d">
            <div class="texts">
                <p style="font-weight: 600;font-size: 20px;">Правила обмена и возрата товара:</p>
                <p>Обмен и возрат продукции надлежащего качества</p>
            </div>
            <div class="one">
                <img src="assets/images/o-i-v/Group (6).png" alt="">
                <p>Приобретенные лекарственные препараты надлежащего качества не подлежат возврату или обмену 
в соответствии с Перечнем непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации, утвержденным Постановлением Правительства Российской Федерации от 19 января 1998 г. N 55.</p>
            </div>
            <div class="one" style="padding-bottom: 30px;">
                <img src="assets/images/o-i-v/Group 2478.png" alt="">
                <p>Изделия медицинского назначения входят в Перечень товаров, не подлежащих возврату или обмену, согласно Постановлению Правительства РФ от 19.01.96 № 55.</p>
            </div>
            <img class="img" src="assets/images/o-i-v/covid-19-self-quarantine-online-shopping-shipping-concept-confident-courier-red-uniform-protective-gloves-face-mask-standing-crossed-arms-look-away-ready-take-your-orders 1.png" alt="">
        </div>
    </div>
</div>

<app-footer></app-footer>