.div {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.h1 {
    font-size: 60px;
    font-weight: 700;
    width: 50%;
    line-height: 60px;
    padding-top: 70px;
}
.p {
    width: 50%;
    margin-top: 10px;
}

img {
    position: absolute;
    width: 60%;
    right: 0;
    bottom: 0;
}

button {
    background: #039BE5;
    box-shadow: 0px 12px 35px 0px #024F7580;
    color: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;
}

.boxes {
    display: flex;
    width: 450px;
    justify-content: space-between;
    margin-left: 130px;
    margin-top: 40px;
    padding-bottom: 70px;
}
.boxes div {
    width: 200px;
}
.boxes div .p1 {
    color: #BB9B75;
    font-weight: 600;
    font-size: 18px;
}
.boxes div .p2 {
    color: black;
    font-weight: 600;
    font-size: 18px;
}
@media screen and (max-width: 93rem) {
    .h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 87rem) {
    .h1 {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }
    .p {
        margin: 0 auto;
        text-align: center;
    }
    img {
        display: none;
    }
    button {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
    }
    .boxes {   
        margin-left: 0;
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 50rem) {
    .div {
        width: 100%;
    }
    .h1 {
        width: 100%;
    }
    .p {
        width: 90%;

    }
    .boxes {
        width: 70%;
    }
}
@media screen and (max-width: 42rem) {
    img {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    .but {
        position: relative;
        display: flex;
        justify-content: center;
    }
    button {
        margin: 0;
        position: absolute;
        top: -50px;
    }
    .boxes {
        margin-top: 100px;
    }
}
@media screen and (max-width: 40rem) {
    .boxes {
        width: 90%;
    }
}