<div class="big-div" style="width: 100%;background-color: #F8F8F8;">
    <div class="div">
        <h1 class="h1">Присоединяйтесь
            к нашему сообществу в телеграмм!</h1>
        <p class="p">Более 3000 довольных клиентов оставляют свои видео-отзывы о нашей продукции и делятся достижениями в спорте!</p>
        <img src="assets/images/home-in-one/bodybuilders-posing-in-studio-2021-08-29-02-28-09-utc 1.png" alt="">
        <div class="but">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="21" viewBox="0 0 23 21" fill="none" style="display: inline;padding: 1px;">
                    <path d="M9.0248 13.5482L8.64434 18.8995C9.18867 18.8995 9.42442 18.6657 9.70713 18.3849L12.2592 15.9459L17.5473 19.8186C18.5171 20.3591 19.2004 20.0744 19.462 18.9264L22.9331 2.66153L22.934 2.66057C23.2417 1.2269 22.4156 0.666279 21.4707 1.01799L1.06775 8.82936C-0.324705 9.36986 -0.303621 10.1461 0.831045 10.4978L6.04725 12.1203L18.1635 4.5389C18.7337 4.16132 19.2521 4.37024 18.8257 4.74782L9.0248 13.5482Z" fill="white"/>
                    </svg>
                <span style="padding-left: 5px;font-size: 14px;">Telegram</span></button>
        </div>
        
        <div class="boxes">
            <div class="box-1">
                <p class="p1">01</p>
                <p class="p2">Бот автопродаж</p>
                <p class="p3">бесплатная консультация и составление курса</p>
            </div>
            <div class="box-2">
                <p class="p1">02</p>
                <p class="p2">Медсопровождение</p>
                <p class="p3">Cопровождение лечащим врачем</p>
            </div>
        </div>
    </div>
</div>