<div class="big-div" style="width: 100%;padding-top: 70px;padding-bottom: 70px;">
    <div class="div" style="width: 80%;margin: 0 auto;">
        <div class="img">
            <img src="assets/images/home-in-six/Слой 1 1.png" alt="">
        </div>
        <div class="one">
            <h1 style="font-weight: 600;">Консультант по фармакологии</h1>
            <p class="p" style="font-weight: 600;margin-top: 10px;">Консультация для новичков и самых опытных:</p>
            <div class="icon-img">
                <img src="assets/images/home-in-six/notebook 1.png" alt="">
                <p>Составление курсов</p>
            </div>
            <div class="icon-img">
                <img src="assets/images/home-in-six/diploma 1.png" alt="">
                <p>Грамотное пкт</p>
            </div>
            <div class="icon-img">
                <img src="assets/images/home-in-six/medicine 1.png" alt="">
                <p>Индивидуальный подбор препаратов</p>
            </div>
            <p style="margin-top: 15px;">И все остальное,что связанное с приемом фармакологии, 
                вы можете узнать у <span style="font-weight: 600;">консультанта на сайте или в чат телеграм.</span></p>
            <div class="buttons" style="margin-top: 20px;">
                <a href="https://t.me/ax1_hub"><button style="border: 2px solid #BB9B75;padding: 10px;font-weight: 600;box-shadow: 0px 10px 22px 0px #F06C6B5C;">Написать в Telegram</button></a>
                <a href="https://t.me/QosimovIbrohim"><button style="border: 2px solid #BB9B75;padding: 10px;background: #BB9B75;color: #fff;font-weight: 600;box-shadow: 0px 10px 22px 0px #A8865E4D;">Online чат</button></a>
            </div>
        </div>
    </div>
</div>