<div
  class="div"
  style="margin: 0 auto; width: 80%; margin-top: 50px; margin-bottom: 50px"
>
  <h1 style="font-size: 50px; font-weight: 700">Сертификаты</h1>
  <div class="text">
    <h1 style="font-size: 50px; font-weight: 700">качества</h1>
    <p style="border-left: 1px solid black; padding-left: 10px">
      Мы используем только сертифицированную и качественную продукцию, вы можете
      просмотреть наши сертификаты
    </p>
  </div>
  <div class="wrapper">
    <div class="i">
      <i id="left"
        ><svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m15 19-7-7 7-7"
          />
        </svg>
      </i>
      <i id="right"
        ><svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m9 5 7 7-7 7"
          />
        </svg>
      </i>
    </div>

    <ul class="carousel">
      @for(diplom of diploms;track diplom.id){
      <li class="card">
        <img
          [src]="'https://localhost:7245' + diplom.photoPath"
          alt="img"
          draggable="false"
        />
      </li>
      }
    </ul>
  </div>
</div>
