<div class="big-div">
    <div class="div">
        <p style="margin-top: 10px;"><span>Главная ></span> Скидки</p>
        <h1 style="font-size: 50px;font-weight: 700;margin-top: 10px;">Скидки</h1>
    </div>
    <div class="vid">
        <div class="d">
            <div class="texts">
                <p style="font-weight: 600;">Чем больше сумма вашего заказа, тем больше вы экономите.</p>
                <p>К примеру, ваш заказ на 19 000 руб, <span style="font-weight: 600;">ваша скидка 5%</span>, к оплате 18 050 руб</p>
                <p>А если ваш заказ 20 500 руб, <span style="font-weight: 600;">ваша скидка 10%</span>, к оплате 18 000руб</p>
                <p>Платите меньше,а “вкуснях” набрали на 1 500 руб больше</p>
            </div>
            <div class="buttons">
                <div class="one">
                    <p><a href="#"><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 8px;background-color: #EBEBEB;display:inline;margin-right: 10px;">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
    </svg>
    </a> <span style="font-weight: 700;">5%</span> от 7 000 руб</p>
    <p><a href="#"><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 8px;background-color: #EBEBEB;display:inline;margin-right: 10px;">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
      </svg>
      </a> <span style="font-weight: 700;">10%</span> от 20 000 руб</p>
                </div>
                <div class="one">
                    <p><a href="#"><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 8px;background-color: #EBEBEB;display:inline;margin-right: 10px;">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                      </svg>
                      </a> <span style="font-weight: 700;">15%</span> от 35 000 руб</p>
                      <p><a href="#"><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 8px;background-color: #EBEBEB;display:inline;margin-right: 10px;">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                        </svg>
                        </a> <span style="font-weight: 700;">20%</span> от 50 000 руб</p>
                </div>
            </div>
            <img src="assets/images/skidki/man-making-announcement-with-megaphone 2.png" alt="">
        </div>
    </div>
</div>