<div class="big-div">
    <div class="div" style="margin: 0 auto;width: 80%;">
        <div class="text">
            <h1 style="font-size: 50px;font-weight: 700;">Новости</h1>
            <div class="button">
                <a routerLink="login">
                    <button style="background: linear-gradient(130.83deg, #CFAE87 9.11%, #A48159 70.56%);color: #fff;padding: 10px 30px 10px 30px;">
                        <span style="display: flex;margin-left: 5px;margin-right: 5px;">
                        <p>Все новости</p></span>
                </button>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="div" style="margin: 0 auto;width: 80%;padding-bottom: 100px;">
        <div class="wrapper">
            <div class="i">
                <i id="left"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                  </svg>
                  </i>
            <i id="right"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
              </svg>
              </i>
            </div>
            <ul class="carousel">
              @for(item of news; track item.id){
                <li class="card">
                  <div class="img">
                      <img [src]="'https://localhost:7245' + item.cardPhotoPath" alt="rasm">
                      <p>Без рубрики</p>
                  </div>
                  <h1 style="width: 100%;font-size: 18px;font-weight: 600;padding: 10px;">{{item.title}}</h1>
                  <div class="one-p">
                      <p><svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                        </svg>
                        {{item.date}}</p>
                      <p>Автор: <img src="assets/images/home-in-five/01f618c47d95e5c934e268da9abdb2c2 1.png" alt="" style="margin-left: 5px;"> <span style="padding-left: 5px;">{{item.user.userName}}</span></p>
                  </div>
                  <p style="padding: 10px;border-top: 1px solid black;width: 100%;font-size: 14px;padding-top: 15px;padding-bottom: 15px;">{{item.description}}</p>
                  <div class="card-bottom" style="padding: 10px;width: 100%;border-top: 1px solid black;">
                      <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 3px;background-color: #F7F7F7;margin-bottom: 10px;">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.556 8.5h8m-8 3.5H12m7.111-7H4.89a.896.896 0 0 0-.629.256.868.868 0 0 0-.26.619v9.25c0 .232.094.455.26.619A.896.896 0 0 0 4.89 16H9l3 4 3-4h4.111a.896.896 0 0 0 .629-.256.868.868 0 0 0 .26-.619v-9.25a.868.868 0 0 0-.26-.619.896.896 0 0 0-.63-.256Z"/>
                        </svg>
                        <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" style="padding: 3px;background-color: #F7F7F7;color: #BB9B75;margin-left: 10px;margin-bottom: 10px;">
                          <path fill-rule="evenodd" d="M5 6a3 3 0 1 1 4 2.83V9a4 4 0 0 0 4 4h.17a3.001 3.001 0 1 1 0 2H13a5.978 5.978 0 0 1-4-1.528v1.699a3.001 3.001 0 1 1-2 0V8.829A3.001 3.001 0 0 1 5 6Z" clip-rule="evenodd"/>
                        </svg>                  
                      <a href="#"><button style="width: 100%;padding: 10px;border: 1px solid #BB9B75;color: black;">Читать</button></a>
                  </div>
                </li>
              }
            </ul>
          </div>
        </div>
</div>