<app-navbar></app-navbar>

<div class="div" style="width: 80%;margin: 0 auto;margin-top: 20px;margin-bottom: 100px;">
    <p style="color: #494949;"><a href="#">Главная</a> > Доставка</p>

    <div class="texts">
        <h1 style="font-size: 50px;font-weight: 700;margin-top: 30px;">Доставка</h1>
        <p style="border-left: 1px solid black;padding-left: 5px;font-size: 15px;margin-top: 20px;">Заказы отправляем почтой России:</p>
    </div>

    <div class="boxes">
        <div class="boxs">
            <div class="one">
                <img src="assets/images/dostavka/icon (3).png" alt="" style="width: 29px;height: 29px;">
                <div class="text" style="margin-left: 10px;">
                    <p>Посылка  5-14 дней с момента отправки 
                        в зависимости от региона, 
                        обычно не более 10 дней.</p>
                    <p style="display: flex;align-items: center;"><img src="assets/images/dostavka/Group 2467.png" alt="" style="display: inline;"><span style="padding-left: 10px;font-weight: 700;">Цена сейчас 650 руб.</span></p>
                    <p>(на заказы меньше 1500 рублей идет надбавка за доставку в размере <span style="font-weight: 500;">200 руб.)</span></p>
                </div>
            </div>
            <div class="two">
                <img src="assets/images/dostavka/EMS-PNG-e1415051202408 1.png" alt="" style="background-color: #fff;width: 29px;height: 29px;display: flex;align-items: center;justify-content: center;padding: 10px 5px 10px 5px;">
                <div class="text" style="margin-left: 10px;">
                    <p>ЕМС ускоренная (можно до двери), 
                        сроки 2-7 дней с момента отправки.</p>
                    <p style="display: flex;align-items: center;"><img src="assets/images/dostavka/Group 2467.png" alt="" style="display: inline;"><span style="padding-left: 10px;font-weight: 700;">Цена 1 500 руб.</span></p>
                </div>
            </div>
            <div class="three">
                <img src="assets/images/dostavka/icon (4).png" alt="" style="width: 29px;height: 29px;">
                <p style="margin-left: 10px;">Отправка заказа происходит в течении 1-9 дней с момента оплаты.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>