<div class="div" style="background-color: #F8F8F8;padding-top: 50px;padding-bottom: 50px;">
    <h1 style="text-align: center;font-size: 45px;font-weight: 700;">Часто задаваемые вопросы</h1>
    <div class="one" style="margin: 0 auto;margin-top: 30px;">
        <details>
            <summary>
                Как оформить заказ?
            </summary>
            <div>
                Мы используем только сертифицированную и качественную продукцию, вы можете просмотреть наши сертификаты
            </div>
        </details>
        <details>
            <summary>
                Как оформить заказ?
            </summary>
            <div>
                Мы используем только сертифицированную и качественную продукцию, вы можете просмотреть наши сертификаты
            </div>
        </details>
        <details>
            <summary>
                Как оформить заказ?
            </summary>
            <div>
                Мы используем только сертифицированную и качественную продукцию, вы можете просмотреть наши сертификаты
            </div>
        </details>
        <details>
            <summary>
                Как оформить заказ?
            </summary>
            <div>
                Мы используем только сертифицированную и качественную продукцию, вы можете просмотреть наши сертификаты
            </div>
        </details>
        <details>
            <summary>
                Как оформить заказ?
            </summary>
            <div>
                Мы используем только сертифицированную и качественную продукцию, вы можете просмотреть наши сертификаты
            </div>
        </details>
        <details>
            <summary>
                Как оформить заказ?
            </summary>
            <div>
                Мы используем только сертифицированную и качественную продукцию, вы можете просмотреть наши сертификаты
            </div>
        </details>
    </div>
</div>