<div class="big-div" style="background-color: #F8F8F8;">
    <div class="div" style="margin: 0 auto;width: 80%;">
        <div class="text">
            <h1 style="font-size: 50px;font-weight: 700;">РуМасса рекомендует</h1>
            <div class="button">
                <a href="#">
                    <button style="background: linear-gradient(130.83deg, #CFAE87 9.11%, #A48159 70.56%);color: #fff;padding: 10px 20px 10px 20px;">
                        <span style="display: flex;margin-left: 5px;margin-right: 5px;"><svg style="color: #fff;" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 9h4m0 0V5m0 4L4 4m15 5h-4m0 0V5m0 4 5-5M5 15h4m0 0v4m0-4-5 5m15-5h-4m0 0v4m0-4 5 5"/>
                          </svg>
                        <p style="padding-left: 10px;">Каталог</p></span>
                </button>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="div" style="margin: 0 auto;width: 80%;padding-bottom: 100px;">
        <div class="wrapper">
            <div class="i">
                <i id="left"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                  </svg>
                  </i>
            <i id="right"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
              </svg>
              </i>
            </div>
            <ul class="carousel">
              <li class="card">
                <div class="img">
                    <img src="assets/images/home-in-three/image 32 (1).png" alt="">
                    <div class="icons">
                        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                          </svg>
                          <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                          </svg>                                    
                    </div>
                </div>
                <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                <button style="width: 85%;padding: 12px;background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
              </li>
              <li class="card">
                <div class="img">
                    <img src="assets/images/home-in-three/image 32 (1).png" alt="">
                    <div class="icons">
                        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                          </svg>
                          <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                          </svg>                                    
                    </div>
                </div>
                <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                <button style="width: 85%;padding: 12px;background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
              </li>
              <li class="card">
                <div class="img">
                    <img src="assets/images/home-in-three/image 32 (1).png" alt="">
                    <div class="icons">
                        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                          </svg>
                          <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                          </svg>                                    
                    </div>
                </div>
                <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                <button style="width: 85%;padding: 12px;background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
              </li>
              <li class="card">
                <div class="img">
                    <img src="assets/images/home-in-three/image 32 (1).png" alt="">
                    <div class="icons">
                        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                          </svg>
                          <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                          </svg>                                    
                    </div>
                </div>
                <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                <button style="width: 85%;padding: 12px;background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
              </li>
              <li class="card">
                <div class="img">
                    <img src="assets/images/home-in-three/image 32 (1).png" alt="">
                    <div class="icons">
                        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                          </svg>
                          <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                          </svg>                                    
                    </div>
                </div>
                <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                <button style="width: 85%;padding: 12px;background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
              </li>
              <li class="card">
                <div class="img">
                    <img src="assets/images/home-in-three/image 32 (1).png" alt="">
                    <div class="icons">
                        <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
                          </svg>
                          <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                          </svg>                                    
                    </div>
                </div>
                <h1 style="font-weight: 600;font-size: 18px;margin-top: 10px;padding-left: 10px;text-align: start;width: 100%;">Metha 10, 10mg/caps, 100caps</h1>
                <p style="padding-left: 10px;font-size: 13px;text-align: start;width: 100%;">Оральные препараты, Метандиенон, Chang Pharmaceuticals</p>
                <h1 style="font-weight: 600;font-size: 18px;text-align: start;width: 100%;padding-left: 10px;">880 ₽</h1>
                <button style="width: 85%;padding: 12px;background-color: #BB9B75;color: #fff;margin-top: 10px;">В корзину</button>
                <button style="width: 85%;padding: 12px;border: 1px solid #BB9B75;margin-top: 10px;">Подробнее</button>
              </li>
            </ul>
          </div>
        </div>
</div>
