<app-navbar></app-navbar>

<div class="div">
    <p style="margin-top: 20px;"><a href="#" style="color: #494949;">Главная</a> > <a href="#">Контакты</a></p>
    <h1 style="font-size: 30px;margin-top: 30px;font-weight: 700;">КОНТАКТЫ</h1>
    <div class="boxes" style="margin-top: 30px;">
        <div class="box-1" style="border: 1px solid #D8D8D8;width: 250px;padding: 15px;">
            <img src="assets/images/Tg.svg" alt="img" alt="img">
                <div class="img-right" style="padding-left: 10px;">
                    <p>Интернет-магазин</p>
                    <p>RU-MASSA</p>
                </div>
        </div>
        <div class="box-1" style="border: 1px solid #D8D8D8;width: 250px;padding: 15px;">
            <img src="assets/images/email.svg" alt="img">
                <div class="img-right" style="padding-left: 10px;">
                    <p>Интернет-магазин</p>
                    <p>RU-MASSA</p>
                </div>
        </div>
    </div>
</div>
<div class="in">
    <div class="div-in">
        <div class="box-2">
            <div class="l1">
                <label for="name">Ваше имя*</label><br>
                <input type="text" name="name" id="name" placeholder="Ваше имя">
            </div>
            <div class="l2">
                <label for="mail">Ваш e-mail*</label><br>
                <input type="email" name="mail" id="mail" placeholder="Ваш e-mail*">
            </div>
            <div class="l3">
                <label for="log">Ваш логин telegram</label><br>
                <input type="text" name="log" id="log" placeholder="Ваш логин telegram">
            </div>
        </div>
        <label for="mess">Для комментария</label>
        <textarea id="mess" name="mess" style="width: 100%;height: 20vh;padding: 10px;" placeholder="Для комментария"></textarea>
        <div class="box-4" style="padding-bottom: 60px;">
            <a href="#"><button style="background: linear-gradient(130.83deg, #CFAE87 9.11%, #A48159 70.56%);color: #fff;padding: 15px;padding-left: 50px;padding-right: 50px;box-shadow: 0px 10px 22px 0px #A8865E4D;">Отправить</button></a>
        </div>
    </div>
</div>

<app-footer></app-footer>