<app-navbar></app-navbar>

<div class="div">
    <div class="div-in">
        <div class="box-1">
            <img src="assets/images/logo.png" alt="img">
                <div class="img-right">
                    <p>Интернет-магазин</p>
                    <p>RU-MASSA</p>
                </div>
        </div>
        <h1 style="font-size: 30px;margin-top: 30px;font-weight: 700;">Вход</h1>
        <p style="color: #828282;margin-top: 5px;">Нет аккаунта?<span style="color: #E6E6E6;"> | </span><span><a href="#" style="color: #BB9B75;border-bottom: 1px solid #BB9B75;">Зарегистрируйтесь</a></span></p>
        <div class="box-2">
            <div class="l1">
                <label for="mail">Ваша почта</label><br>
                <input type="text" name="main" id="main" placeholder="Введите e-mail">
            </div>
            <div class="l2">
                <label for="pass">Пароль</label><br>
                <input type="password" name="pass" id="pass" placeholder="Введите ваш пароль">
            </div>
        </div>
        <div class="box-3">
            <a href="#" style="color: #6B6B6B;border-bottom: 1px solid #6B6B6B;">Запомнить меня</a>
            <a href="#" style="color: #BB9B75;border-bottom: 1px solid #BB9B75;">Забыли пароль?</a>  
        </div>
        <div class="box-4">
            <a href="#"><button style="background: linear-gradient(130.83deg, #CFAE87 9.11%, #A48159 70.56%);color: #fff;padding: 15px;padding-left: 50px;padding-right: 50px;">Войти</button></a>
        </div>
        <hr style="margin-top: 20px;">
        <p style="margin-top: 10px;margin-bottom: 10px;">Вход в один клик:</p>
        <a href="#"><img src="assets/images/login/facebook.png" alt="" style="display: inline-block;"></a>
        <a href="#"><img src="assets/images/login/facebook (1).png" alt="" style="display: inline-block;margin-left: 10px;"></a>
    </div>
</div>

<app-footer></app-footer>