<div class="boxes">
    <div class="box">
        <h1 style="background-color: #F9F9F9;color: black;">1</h1>
        <p>Корзина</p>
    </div>
    <div class="box">
        <h1 style="background-color: #F9F9F9;color: black;">2</h1>
        <p>Адрес доставки</p>
    </div>
    <div class="box">
        <h1 style="background-color: #F9F9F9;color: black;">3</h1>
        <p>Заказ готов</p>
    </div>
</div>

<h1 style="font-size: 45px;font-weight: 700;text-align: center;margin-bottom: 30px;">Корзина</h1>

<div class="divs">
    <div class="one">
        <div class="tovar">
            <div class="n">
                <p class="n1"></p>
                <p class="n2" style="font-size: 15px;font-weight: 700;">товар</p>
                <p class="n3" style="font-size: 15px;font-weight: 700;">Цена</p>
                <p class="n4" style="font-size: 15px;font-weight: 700;">Количество</p>
                <p class="n5" style="font-size: 15px;font-weight: 700;">Подытог</p>
            </div>
            <div class="t">
                <p class="t1"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                  </svg></p>
                <div class="t2">
                    <img src="assets/images/korzina-in-one/image 52.png" alt="">
                    <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                </div>
                <p class="t3">880 ₽</p>
                <div class="t4">
                    <div class="but">
                        <p style="background: #E9E9E9;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;border-radius: 2px;margin-top: 2px;margin-bottom: 2px;margin-left: 2px;">-</p>
                        <p style="background: #323232;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;border-radius: 2px;color: #fff;margin-top: 2px;margin-bottom: 2px;margin-left: 2px;">1</p>
                        <p style="background: #E9E9E9;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;border-radius: 2px;margin-top: 2px;margin-bottom: 2px;margin-left: 2px;margin-right: 2px;">+</p>
                    </div>
                </div>
                <p class="t5">880 ₽</p>
            </div>
        </div>


        <div class="dok">
        <input type="text" placeholder="Код купона" name="kod" id="kod" style="padding: 15px;">

        <button style="color: #fff;background: #BB9B75;padding: 15px 25px 15px 25px;font-size: 17px;box-shadow: 0px 10px 22px 0px #A8865E4D;">Применить купон</button>
        </div>

    </div>

    <div class="two">
        <h1 style="font-weight: 700;font-size: 35px;">Сумма заказов</h1>
        <div class="two-in" style="background-color: #F8F8F8;padding: 30px;margin-top: 20px;">
            <div class="tables" style="border: 1px solid black;background-color: #fff;">
                <div>
                    <p style="font-size: 20px;font-weight: 600;">товар</p>
                    <p style="font-size: 20px;font-weight: 600;">подытог</p>
                </div>
                <hr>
                <div>
                    <p>Подытог</p>
                    <p style="color: #BB9B75;">880₽</p>
                </div>
                <hr>
                <div>
                    <p>Доставка</p>
                    <p>Доставка почтой из РФ: <span style="color: #BB9B75;">960₽</span></p>
                </div>
                <hr>
                <div>
                    <p style="font-size: 20px;font-weight: 600;">Итого</p>
                    <p style="color: #BB9B75;font-size: 20px;font-weight: 600;">1 440 ₽</p>
                </div>
            </div>
            <p style="margin-top: 15px;">Ваши личные данные будут использоваться для обработки ваших заказов, упрощения вашей работы с сайтом и для других целей, описанных в нашей <span style="font-weight: 600;">политика конфиденциальности.</span></p>
            <div class="check" style="display: flex;align-items: center;margin-top: 20px;">
                <input type="checkbox">
                <p style="margin-left: 10px;">Хочу подписаться на новости!</p>
            </div>
            <button style="width: 100%;color: #fff;background: #BB9B75;padding: 15px;font-size: 17px;margin-top: 20px;box-shadow: 0px 10px 22px 0px #A8865E4D;">Оформить заказ</button>
        </div>
    </div>
</div>