<div class="big" style="margin-bottom: 70px;">
    <div class="div">
        <div class="one">
            <p style="margin-top: 10px;margin-bottom: 30px;"><span><a href="#">Главная</a></span> > Новости</p>
            <span style="padding: 10px;color: #fff;background-color: #4C95EC;">Пополнение товара</span>
            <h1 style="font-weight: 600;margin-top: 20px;" class="h">Пополнение товара Balkan, SP, Tesla, Pharmacom и тд!            </h1>
            <div class="one-p" style="margin-top: 30px;">
                <p>Автор: <img src="assets/images/home-in-five/01f618c47d95e5c934e268da9abdb2c2 1.png" alt="" style="margin-left: 5px;"> <span style="padding-left: 5px;">Гена</span></p>
                <p style="margin-left: 30px;"><svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
                  </svg>
                  17.02.2022</p>
                  <p style="margin-top: 10px;"><svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" style="padding: 3px;background-color: #F7F7F7;margin-bottom: 10px;margin-left: 30px;">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.556 8.5h8m-8 3.5H12m7.111-7H4.89a.896.896 0 0 0-.629.256.868.868 0 0 0-.26.619v9.25c0 .232.094.455.26.619A.896.896 0 0 0 4.89 16H9l3 4 3-4h4.111a.896.896 0 0 0 .629-.256.868.868 0 0 0 .26-.619v-9.25a.868.868 0 0 0-.26-.619.896.896 0 0 0-.63-.256Z"/>
                  </svg></p>
            </div>
            <div class="text" style="margin-top: 30px;">
                <p>Balkan Pharmaceuticals: <span style="font-weight: 500;">Danabol 10mg, Danabol 50mg, Esculap, Parabolan, Primobol, Halotest, Turanabol, Strombaject, Testosterona U, Apollo, Parabolan 10ml флакон, Primobol 10ml флакон, Nandrolona D 10ml флакон, Testosterona C 10ml флакон.</span></p>
                <p style="padding-top: 10px;">SP Laboratories: <span style="font-weight: 500;">Masteron (propionate) 10ml, Nandrolone-F 10ml, Primobol 10ml, Methandriol 10ml (жидкий турик).</span></p>
                <p style="padding-top: 10px;">Tesla: <span style="font-weight: 500;">Test P 10ml, Test E 10ml, Test Mix 10ml (суст), Nan Phenyl 10ml, Methan 20mg 50tab, Stan 20mg 50tab, Oxymetholone 50mg 50tab.</span></p>
                <p style="padding-top: 10px;">Pharmacom: <span style="font-weight: 500;">Pharma Sust 300, Pharma Bold 500.</span></p>
                <p style="padding-top: 10px;">Magnus: <span style="font-weight: 500;">Magnyl 5000iu гонадотропин.</span></p>
            </div>
            <div class="boxes">
                <div class="box">
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                    <div>
                        <img src="assets/images/novosti-in-one/image 60.png" alt="">
                        <p>Oxymethalone 20mg/tab, 100tab – ERGO</p>
                        <p style="font-size: 20px;font-weight: 500;color: #BB9B75;">1360 ₽</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="two">
            <h1 class="h1">Продукты</h1>
            <div class="dors">
                <div class="dor">
                    <img src="assets/images/novosti-in-one/image 50.png" alt="">
                    <div class="d">
                        <p style="font-size: 14px;font-weight: 400;">Gonadotropin
                            1000iu, 1 флакон - Olymp Labs</p>
                        <p style="color: #BB9B75;font-size: 14px;font-weight: 900;">704 ₽</p>
                    </div>
                </div>
                <div class="dor" style="border-top: 1px solid black;padding-top: 10px;padding-bottom: 10px;">
                    <img src="assets/images/novosti-in-one/image 50.png" alt="">
                    <div class="d">
                        <p style="font-size: 14px;font-weight: 400;">Gonadotropin
                            1000iu, 1 флакон - Olymp Labs</p>
                        <p style="color: #BB9B75;font-size: 14px;font-weight: 900;">704 ₽</p>
                    </div>
                </div>
                <div class="dor" style="border-top: 1px solid black;padding-top: 10px;padding-bottom: 10px;">
                    <img src="assets/images/novosti-in-one/image 50.png" alt="">
                    <div class="d">
                        <p style="font-size: 14px;font-weight: 400;">Gonadotropin
                            1000iu, 1 флакон - Olymp Labs</p>
                        <p style="color: #BB9B75;font-size: 14px;font-weight: 900;">704 ₽</p>
                    </div>
                </div>
                <div class="dor" style="border-top: 1px solid black;padding-top: 10px;">
                    <img src="assets/images/novosti-in-one/image 50.png" alt="">
                    <div class="d">
                        <p style="font-size: 14px;font-weight: 400;">Gonadotropin
                            1000iu, 1 флакон - Olymp Labs</p>
                        <p style="color: #BB9B75;font-size: 14px;font-weight: 900;">704 ₽</p>
                    </div>
                </div>
            </div>
            <h1 style="margin-top: 20px;font-size: 20px;font-weight: 600;margin-bottom: 10px;">Категории</h1>
            <div class="tex">
                <p>"Сан Фармасьютикалс Индастриз Лтд", Индия</p>
                <p>Balkan Pharmaceuticals</p>
                <p>Baries Pharm</p>
                <p>Bayer</p>
                <p>Body Pharm</p>
                <p>British Dispensary</p>
                <p>British Dragon</p>
                <p>Chang Pharmaceuticals</p>
                <p>Cygnus</p>
                <p>EGIS</p>
                <p>EPF</p>
                <p>ERGO</p>
                <p>Golden Dragon</p>
                <p>Golden Pills</p>
                <p>Hangzhou Gaofeng</p>
                <p>Indian Herbal Pills</p>
                <p>Jera Labs</p>
                <p>Lyka Labs</p>
                <p>Lyka Pharmaceuticals</p>
                <p>Magnus</p>
                <p>Neo Labs</p>
                <p>Olymp Labs</p>
                <p>Pharmacom Labs</p>
                <p>Pharmalabs</p>
                <p>Radjay</p>
                <p>SP Laboratories</p>
                <p>Tesla Pharmacy</p>
                <p>Ultra Pharm</p>
                <p>Uncategorized</p>
                <p>Uncategorized</p>
                <p>Vermodje</p>
                <p>Watson</p>
                <p>Zhengzhou Pharmaceutical</p>
                <p>Гормон роста</p>
                <p>Готовые курсы</p>
                <p>Инъекционные препараты</p>
                <p>Оральные препараты</p>
                <p>Препараты ПКТ</p>
                <p>Сармы / Sarms</p>
            </div>
        </div>
    </div>
</div>